/**
@author - Aluno Luis Freitas
*/

*{

	margin: 0px;
	padding: 0px;
	
}

body{
	font-family: 'Open Sans', sans-serif;
}

.Layout{
	height: 350px;
	padding-top: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.Layout p{
	text-align: center;
	color: #e3e4e5;
	font-size: 2.5em;

}

.DivTexto{
	background-color: #ffffff;

}

.Destaque{
	padding:  150px 0px 150px 0px;
	max-width: 1024px;
	margin: 0 auto;
}
.Layout{
	max-width: 100%
}