/**
@author - Aluno Luis Freitas
*/

*{

	margin: 0px;
	padding: 0px;
	
}


body{
	font-family: sans-serif;
}

.Layout{
	z-index: -10px;

}
img{
	max-width: 100%;
}
/*
nav{
	position: fixed;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 10px;

}*/
nav{
	z-index: 150;
	position: fixed;
	border:1px solid rgb(0,0,0);/* Linha quadrada em volta do menu  */
	box-shadow: 10px 10px 10px rgb(0,0,0);/* sombra  */
}

nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav > ul > li{
	float: left;
}
nav > ul > li > a{
	text-decoration: none;
	color: #a86123; 
	padding: 15px 15px 10px 15px;
}
nav ul li a{
	text-decoration: none;
	color: #000000;
	display: block;
	text-align: center; 
	background-color: #00000;
}

nav ul li a:hover{/*mouse sobre o link*/
	color: #07629e;
	border-bottom: #07629e 1px solid;
}
nav li ul{
	display: none;
	/*width: 25%;*/
}
nav li:hover ul{
	display: block;
}
/* Box-shadow */
#main{
	max-width: 1024px;
	background-color: #eeeeee;
	margin: 0 auto;
	margin-top: 50px; 
	border-radius: 50px;
	box-shadow: 5px 0px 30px 5px  rgb(146, 184, 244);
}
.banner{
	 margin: 0;
	 position: relative;

	
}

.banner p{
	text-align: center;
	color: #e3e4e5;
	font-size: 2.5em;

}
.banner2{
	 position: relative;

}
.DivTexto{
	background-color: rgb(146, 184, 244);
	margin-top: -20px;
	position: relative;
	max-width: 100%;
	padding: 150px 0px 150px 0px;
	border: none;
	z-index: 100;
}

/*.Destaque{
	padding:  150px 0px 150px 0px;
	max-width: 1024px;
	margin: 0 auto;
}*/



.texto {
	padding: 30px 30px 30px 30px;
	text-align: justify;
	line-height: 30px;


}
.Layout{
	max-width: 100%
}

/*** Rodapé ****/
footer{
	width: 100%;
	background-color: #76a8f7;
	margin-top: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	color: #ffffff;
	font-size: 0.75em;
	position: relative;
	z-index: 100;

}
/** heading**/
#contato{
	padding-top: 80px;
	width: 70%;
	margin:0 auto;
}
#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border:1px solid  #a86123;
	background-color: rgb(146, 184, 244);
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
	border:1px solid  #a86123;
	background-color: rgb(146, 184, 244);
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: rgb(146, 184, 244);
	border-radius: 5px;
	border:1px solid  #a86123;
	padding: 10px 20px 10px 20px;
	color: #ffffff;
	margin-bottom: 150px;
}
.Mobile{
	display: none;
}
/* Classe usada pelo js para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	
}

/* header */
header img{
	border-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;

}
/********** Menu Responsivo ***********/
@media screen and (max-width: 480px){
	
	/******************** CABEÇALHO ********************/
	header{
	margin-bottom: 0px;
	text-align: center;
}

header img{
	margin-top: 0px;
	margin-left: 0px;
}
#banner{
	height: 0;
	margin-bottom: 100px;
}
/**** Menu Hamburger ****/ /*AGORAA */
   .Mobile{
            max-width: 96.7%;
            display: block;
            background-color: #000;
            color: #ffffff;
            text-decoration: none;
            padding: 15px;
        }

        nav{
        	z-index: 150;      
        	margin-bottom: 50px;
        	position: absolute;
        	box-shadow: none;
        }
        nav ul{
        	background-color: #fff;
        }

        nav > ul > li{
            float: none;
            width: 30%;
            
        }				

      
        nav ul{
            width: 100%;
            display: none;
        }
    /*Ajustes*/
        nav ul li a{
            text-align: center;
        }
        nav ul li a:hover{
            -webkit-transition: all 0s;
            -o-transition: all 0s;
            transition: all 0s;/*Remove os efeitos de transição nop mobile*/
        }
        /*Importante para UX(Experiência com o usuáruio) no dispositivo mobile
        não exibir o 2º nível do menu enquanto o conteúdo não for clicado*/
        nav li:hover ul{
            display: none;
        }
       .DivTexto{
       	padding: 80px 0px 80px 0px;
       }
       

}
